.Rproj.user
.Rhistory
.RData
.Ruserdata
Data/cmip5
Data/wc0.5
LALY/Data/Hist_LALY*
LALY/Data/mg60bi50_LALY*
LALY/Data/mg60bi70_LALY*
LALY/Data/maxent
OCPR/Data/maxent1
OCPR/Data/maxent2
OCPR/Data/Hist_OCPR*